.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.imc {
  display: flex;
  flex-direction: column;
  background-color: #415A77;
  padding: 32px 48px;
  border-radius: 10px;
  color: #EEF1EF;
  gap: 20px;
}

h1 {
  font-size: 38px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

input:not(.button, [type="radio"]) {
  border: none;
  height: 28px;
  border-radius: 4px;
  width: 100%;
}

input[type="radio"] {
  font-size: 12px;
  margin-bottom: 6px;
}

button {
  background-color: #EEF1EF;
  padding: 12px 48px;
  border-radius: 12px;
  border: none;
  width: 100%;
  margin: 24px 0px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}

button:not(:disabled):hover {
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}