* {
    font-size: 28px;
}

.numero {
    padding: 40px;
}

.preto {
    background-color: black;
    color: white;
}

.azul {
    background-color: blue;
    color: white;
}

.vermelho {
    background-color: red;
    color: white;
}