<div class="container">
    <div class="microondas">
        <div class="display">
            <p class="valores">
                {{ minutos }}
                :
                {{ segundos }}
            </p>
        </div>

        <div class="numeros">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>+1min</button>
            <button>+30seg</button>
            <button>0</button>
        </div>

        <div class="ligar">
            <button class="btn" id="resetBtn">Cancelar</button>
            <button class="btn" id="startBtn">Ligar</button>
        </div>
    </div>
</div>