<div class="container">
    <div class="microondas">
        <div class="display">
            <p class="valores">
                {{ displayTime }}
            </p>
        </div>

        <div class="numeros">
            <button (click)="addTempo(1)">1</button>
            <button (click)="addTempo(2)">2</button>
            <button (click)="addTempo(3)">3</button>
            <button (click)="addTempo(4)">4</button>
            <button (click)="addTempo(5)">5</button>
            <button (click)="addTempo(6)">6</button>
            <button (click)="addTempo(7)">7</button>
            <button (click)="addTempo(8)">8</button>
            <button (click)="addTempo(9)">9</button>
            <button (click)="addMinutos(1)">+1min</button>
            <button (click)="addSegundos(30)">+30seg</button>
            <button (click)="addTempo(0)">0</button>
        </div>

        <div class="ligar">
            <button class="btnReset" id="btnReset" (click)="resetTimer()" [disabled]="!isReset || selectedTime === 0">Cancelar</button>
            <button class="btnStart" id="btnStart" (click)="startTimer()" [disabled]="!isStart || selectedTime === 0">Ligar</button>
        </div>
    </div>
</div>