<div class="container">
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Binding</a>
    <a routerLink="/imc" routerLinkActive="linkSelected">Cálculo IMC</a><br>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Ng Class</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Ng Style</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Ng Model</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Ng If</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Ng For</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Ng Switch</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Ng Pipes</a>
</div>