<div class="container">
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Binding</a>
    <a routerLink="/imc" routerLinkActive="linkSelected">IMC</a><br>
    <a routerLink="/diretiva-ng-class" routerLinkActive="linkSelected">Ng Class</a>
    <a routerLink="/diretiva-ng-style" routerLinkActive="linkSelected">Ng Style</a>
    <a routerLink="/diretiva-ng-model" routerLinkActive="linkSelected">Ng Model</a>
    <a routerLink="/diretiva-ng-if" routerLinkActive="linkSelected">Ng If</a>
    <a routerLink="/diretiva-ng-for" routerLinkActive="linkSelected">Ng For</a>
    <a routerLink="/diretiva-ng-switch" routerLinkActive="linkSelected">Ng Switch</a>
    <a routerLink="/exemplo-pipes" routerLinkActive="linkSelected">Ng Pipes</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Microondas</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Pai>Filho</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Filho>Pai</a>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Services</a>
</div>