.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-bottom: solid 1px #778DA9;
}

.left {
    width: 30%;
}

.right {
    display: flex;
    width: 70%;
}

a:link,
a:visited {
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
}

.linkSelected {
    font-weight: bold;
}

a:hover,
a:active {
    background-color: #415A77;
    color: #E0E1DD;
}

.menuWrapper{
    position: relative;
}

.ng-button {
    background-color: transparent;
    border: none;
    width: 100px;
    height: 100%;

    &:hover {
        cursor: pointer;
        background-color: #415A77;
        color: #E0E1DD;
    }
}

.ng-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    border: solid 1px #778DA9;
    border-radius: 0px 0px 10px 10px;
    background-color: #ffffff;
}