* {
    font-family: 'Montserrat', sans-serif;
}

.linkSelected {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

a:link, a:visited {
    background-color: aqua;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

a:hover, a:active {
    background-color: azure;
    height: 100%;
}