<div class="container">
    <div class="form">
        <h1>Cadastrar</h1>
        <div class="inputBox">
            <input type="text" id="nome" [(ngModel)]="nomeMed"  #inputProp>
            <span>Medicamento</span>
        </div>
        <div class="inputBox">
            <input type="number" id="valor" [(ngModel)]="valorMed" #inputPrice >
            <span>Preço</span>
        </div>

        <button (click)="addItem(inputProp.value, inputPrice.value)" type="submit">Salvar</button>

    </div>
</div>